.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

#!.yarn/cache
.pnp.*
node_modules/
.trae

# VitePress
docs/.vitepress/dist
docs/.vitepress/cache

# OS-Specified
desktop.ini
.DS_Store

# Credentials
*.git-credentials
*.git-credentials.lock
